<!--
 - Name:  Rachel Prasad
 - Student ID: 991702269
 - Assignment:  Exercise 2 - OurSuperCoolSpyApplication
 - Program: Computer Systems and Network Engineering (Co-op)
 -->

<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spy App | Homepage</title>
</head>
<body>
<h1>Spy app</h1>

<p>Click to add a <a th:href="@{/missions}">mission</a></p>
<p>Click to view <a th:href="@{/view_missions}">mission list</a></p>
</body>
</html>

<!--end-->