<!--
 - Name:  Rachel Prasad
 - Student ID: 991702269
 - Assignment:  Exercise 2 - OurSuperCoolSpyApplication
 - Program: Computer Systems and Network Engineering (Co-op)
 -->

<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spy App | Mission Listing</title>
</head>
<body>
<h1>Here are your current missions</h1>

<ul>
    <li th:each="mission : ${missions}">
        <span th:text="${'Mission: ' + mission.missionTitle + ' ----- Gadget: ' + mission.gadget}"></span>
    </li>
</ul>
<p><a th:href="@{/}">Go to home</a></p>
</body>
</html>
<!--end-->